In [1]:
import pandas as pd
df = pd.read_csv('cleaned_aviation_data.csv')
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Injury.Severity,Aircraft.damage,Registration.Number,Make,...,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NC6404,Stinson,...,1.0,Reciprocating,Personal,0.0,0.000000,0.000000,0.0,UNK,Probable Cause,25-09-2020
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,N5069P,Piper,...,1.0,Reciprocating,Personal,0.0,0.000000,0.000000,0.0,UNK,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Fatal(3),Destroyed,N5142R,Cessna,...,1.0,Reciprocating,Personal,0.0,0.279881,0.357061,1.0,IMC,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Fatal(2),Destroyed,N1168J,Rockwell,...,1.0,Reciprocating,Personal,0.0,0.000000,0.000000,0.0,IMC,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Fatal(1),Destroyed,N15NY,Cessna,...,1.0,Reciprocating,Personal,1.0,0.000000,0.357061,0.0,VMC,Probable Cause,16-04-1980

In [2]:
df.shape

(88958, 22)

In [3]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,88958.0,88958.000000,88958.000000,88958.000000,88958.000000
mean,1.0,0.183389,0.039576,0.048174,1.070471
std,0.0,0.346905,0.097521,0.121985,1.064630
min,1.0,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.000000,0.000000
50%,1.0,0.000000,0.000000,0.000000,1.000000
75%,1.0,0.000000,0.000000,0.000000,2.000000
max,1.0,1.000000,0.279881,0.357061,5.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88958 entries, 0 to 88957
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88958 non-null  object
 1   Investigation.Type      88958 non-null  object
 2   Accident.Number         88958 non-null  object
 3   Event.Date              88958 non-null  object
 4   Location                88958 non-null  object
 5   Country                 88958 non-null  object
 6   Injury.Severity         88958 non-null  object
 7   Aircraft.damage         88958 non-null  object
 8   Registration.Number     88958 non-null  object
 9   Make                    88958 non-null  object
 10  Model                   88958 non-null  object
 11  Amateur.Built           88958 non-null  object
 12  Number.of.Engines       88958 non-null  float64
 13  Engine.Type             88958 non-null  object
 14  Purpose.of.flight       88958 non-null  object
 15  Total.Fatal.Injuries    88958 non-null  float64
 16  Total.Serious.Injuries  88958 non-null  float64
 17  Total.Minor.Injuries    88958 non-null  float64
 18  Total.Uninjured         88958 non-null  float64
 19  Weather.Condition       88958 non-null  object
 20  Report.Status           88958 non-null  object
 21  Publication.Date        88958 non-null  object
dtypes: float64(5), object(17)
memory usage: 14.9+ MB